<!-- app/views/creatures/index.html.erb -->
<h1>Creatures</h1>
<ul>
<ul>
  <% @creatures.each do |creature| %>
    <li>
      <%= button_to creature.name, creature_path(creature), method: :get, class: 'button' %>
    </li>
  <% end %>
</ul>
